body {
font-family:tahoma;
background-color:White;
}

h1,h2,h3 {
}

p {
text-align: justify;
}

th {
}

td {
}

ul {
}

a { 
text-decoration:none;
}

a:link    {color:blue}
a:visited {color:darkblue}
a:active  {color:coral}
a:hover   {color:coral}
