/* starbug.com css */


h1,h2,h3, h4 {
    color: #1098fb;
}

a:link    {color:blue}
a:visited {color:darkblue}
a:active  {color:coral}
a:hover   {color:coral}


body {
    font-family:tahoma;
    background-color:White;
}


nav {
  float: left;
  width: 20%;
  padding: 20px;
}


main  {
  width: 80%;
  padding: 20px;
}


.navcolumns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.textcolumns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}




/* single column for narrow screens */
@media screen and (orientation : portrait ) {

  nav, main {
    width:100%;
  }

  .navcolumns {
      -webkit-column-count: 4; /* Chrome, Safari, Opera */
      -moz-column-count: 4; /* Firefox */
      column-count: 4;
  }

  .textcolumns {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }

}
