/* starbug.com css */


body {
    font-family:tahoma;
    background-color:White;
}


nav {
  float: left;
  width: 20%;
  padding: 20px;
}


main  {
  width: 80%;
  padding: 20px;
}


.twocolumn {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {

  nav, main {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .twocolumn {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
  }

}



h1,h2,h3, h4 {
    color: #1098fb;
}

a:link    {color:blue}
a:visited {color:darkblue}
a:active  {color:coral}
a:hover   {color:coral}
